---
const { product, slug } = Astro.props;
---
<meta charset='utf-8'>
<title>{title}</title>
<link rel="icon" type="image/x-icon" href={product.favicon} />
<link rel="apple-touch-icon" href={product.favicon}>
<link rel="canonical" href={product.canonical}>
<link rel="amphtml" href={product.canonical}/amp />
<link rel="alternate" hreflang="id-id" href={product.canonical}/amp/>
<link rel="alternate" href={product.canonical}/amp/>
<link rel="alternate" hreflang="id" href={product.canonical}/amp/>
<link rel="alternate" hreflang="en" href={product.canonical}/amp/>
<link rel="alternate" hreflang="x-default" href={product.canonical}/amp/>
<link as='image' href={product.image} rel='preload'>
<link crossorigin href='https://fonts.googleapis.com' rel='preconnect'>
<link crossorigin href='https://ajax.googleapis.com' rel='preconnect'>
<link crossorigin href='https://www.googletagmanager.com' rel='preconnect'>
<link crossorigin href='https://www.gstatic.com' rel='preconnect'>
<link crossorigin href='https://connect.facebook.net' rel='preconnect'>
<link rel="stylesheet" href="https://cdn-stories.pages.dev/assets/bundles/style.css" media="all" />
<link as='font' crossorigin='anonymous' href='https://assets.teepublic.com/assets/Roobert-Medium-88ba78029f73fa9f18e1e3c31c1f076acdc49223af70a78b2ea4bdbab8168283.woff2' rel='preload' type='font/woff2'>
<link as='font' crossorigin='anonymous' href='https://assets.teepublic.com/assets/Roobert-SemiBold-9d9c1ae0fc78f67d82c4fc43987857f5b897d29b903701d1e97c2e207311d636.woff2' rel='preload' type='font/woff2'>
<link as='font' crossorigin='anonymous' href='https://assets.teepublic.com/assets/Roobert-Bold-e95979b74ebe06c1851ece294f8f7e9e6d3ad0d817d1968dcbfb26373f0b4de5.woff2' rel='preload' type='font/woff2'>
<link as='font' crossorigin='anonymous' href='https://assets.teepublic.com/assets/SharpGroteskBold-f0bacf6ef6410646205690dca3bc65f5bb2d31b9417a358ad9c07237a310d196.woff2' rel='preload' type='font/woff2'>

